body {
    font-family: 'Inter', sans-serif;
}

nav, main {
    padding: 3.5vh 11vw 0;
}

h1, h2, p {
    margin: 0;
}

h4 {
    margin-top: 4vh;
}

h6 {
    margin-bottom: 4vh;
}

// Border
.card, .item {
    border-radius: 5px;
    cursor: pointer;
}

// Font Weight
h1, h2, h3, h4, h6, .name, .change {
    font-weight: $weight-700;
}

// Font Size
p {
    font-size: $size-1;
}

.title p {
    font-size: $size-2;
}

h1 {
    font-size: $size-3;
}