#top-background {
    height: 13rem;
    width: 100%;
    border-radius: 0 0 20px 20px;
    position: absolute;
    z-index: -10;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    p, label {
        font-weight: $weight-700;
    }
}

label {
    margin-right: 55px;
}

.switch-section {
    // width: 11.5%;
    position: relative;

    .switch {
        position: absolute;
        top: -5px;
        right: 0;
    
        button {
            -webkit-appearance: none;
            margin-left: 10px;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            outline: none;
            position: relative;
            height: 25px;
            width: 45px;
        }
    
        button:before {
            width: 42%;
            height: 76%;
            border-radius: 30px;
            content: "";
            position: absolute;
            left: 50%;
            transform: translate(0, -50%);
            transition: 0.5s;
        }
    
        button.active:before {
            left: 7%;
        }
    }
}

@media only screen and (max-width: 375px) {
    nav {
        flex-direction: column;

        hr {
            width: 100%;
        }
    }

    .switch-section {
        width: 100%;
    }
}