// Changes' colors
$decrease-color: rgb(220, 65, 76);
$increase-color: rgb(29, 180, 137);

// Dark Theme
$dark-background: rgb(30, 32, 42);
$dark-top-background: rgb(31, 33, 46);
$dark-card-background: rgb(37, 42, 65);
$dark-card-background-hover: rgb(51, 58, 86);
$dark-word-1: rgb(139, 151, 198);
$dark-word-2: rgb(255, 255, 255);

// Light Theme
$light-background: rgb(255, 255, 255);
$light-top-background: rgb(245, 247, 255);
$light-card-background: rgb(240, 242, 250);
$light-card-background-hover: rgb(225, 227, 240);
$light-word-1: rgb(99, 104, 126);
$light-word-2: rgb(30, 32, 42);

// Switch button
$dark-switch-background: linear-gradient(to left, rgb(55, 143, 230), rgb(62, 218, 130));
$light-switch-background: rgb(174, 179, 203);

// Symbols' colors
$facebook-color: rgb(25, 143, 245);
$instagram-color: linear-gradient(right, rgb(223, 73, 150), rgb(253, 196, 104));
$twitter-color: rgb(28, 160, 242);
$youtube-color: rgb(196, 3, 42);

// Font Weight
$weight-400: 400;
$weight-700: 700;

// Font Size
$size-1: 12px;
$size-2: 16px;
$size-3: 50px;